#!/bin/bash
#@ rerere support
# https://git-scm.com/book/en/v2/Git-Tools-Rerere
git config --global rerere.enabled true


git_env_vars_ok=YES
[ -z "${GIT_USER}" ] && err_ary[${#err_ary[@]}]='GIT_USER'
[ -z "${GIT_PASSWORD}" ] && err_ary[${#err_ary[@]}]='GIT_PASSWORD'
for i in $(seq 0 ${!err_ary[@]})
do
  echo "Error: set environmental variable: ${err_ary[$i]}" 
  git_env_vars_ok=NO
done
if [[ "$git_env_vars_ok" =~ YES ]]; then
  git config credential.helper '!f() { sleep 1; echo "username=${GIT_USER}"; echo "password=${GIT_PASSWORD}"; }; f'

  git config url."https://api:$GIT_PASSWORD@github.com/".insteadOf "https://github.com/"
  git config url."https://ssh:$GIT_PASSWORD@github.com/".insteadOf "ssh://git@github.com/"
  git config url."https://git:$GIT_PASSWORD@github.com/".insteadOf "git@github.com:"
else
  echo "skipped 'git config credential.helper' because ENV vars not set"
fi

